@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ------------------------------ Custom Colors ----------------------------- */

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$primary: #1e3770;
$secondary: #002060;
$button-bg: #ffc002;
$banner-bg: #ffd967;
$gray-info: #2e2e2e;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map

$theme-colors: (
	'primary': $primary,
	'secondary': $secondary,
	'success': $success,
	'info': $info,
	'warning': $warning,
	'danger': $danger,
	'light': $light,
	'dark': $dark,
	'gray-info': $gray-info,
);

/* --------------------------- Custom Breakpoints --------------------------- */

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	bp: 845px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
);

/* ------------------------------- Custom Font sizes ------------------------------- */

$display-font-sizes: (
	1: 5rem,
	2: 4.5rem,
	3: 4rem,
	4: 3.5rem,
	5: 3rem,
	6: 2.5rem,
	7: 2rem,
	8: 14px,
);

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-sizes: (
	1: $h1-font-size,
	2: $h2-font-size,
	3: $h3-font-size,
	4: $h4-font-size,
	5: $h5-font-size,
	6: $h6-font-size,
	7: 14px,
);

/* --------------------------- Custom box Shadows --------------------------- */

$box-shadow: 0 0.5rem 0.8rem rgba($secondary, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175);
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075);

$input-focus-width: 0;
$input-btn-focus-width: 0;
$input-btn-focus-box-shadow: 0 0 0 0 #fff;
$input-focus-box-shadow: $input-btn-focus-box-shadow;

$dropdown-box-shadow: $box-shadow;
$enable-shadows: true;

* {
	font-family: 'Roboto', serif !important;
	box-sizing: border-box !important;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	background-color: #fff;
}

// @import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/mdb-react-ui-kit/dist/scss/bootstrap/bootstrap.scss';
@import '../node_modules/mdb-react-ui-kit/dist/scss/mdb.free.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
