@use '../custom' as *;

.input__rounded {
	border-radius: 20px !important;
	border: 1px solid $primary;
}

.rounded-pill {
	&:focus {
		border-width: 0rem;
		border-color: rgb(206, 212, 218);
		outline: 0 none !important;
		border-color: inherit;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

.form-control:focus {
	border-color: #ced4da;
	box-shadow: none;
}

.input__error {
	font-size: 10px;
}
