@use '../custom' as *;

@mixin general_typography(
	$font-family,
	$font-size,
	$font-weight,
	$line-height
) {
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	font-stretch: 100%;
	line-height: $line-height;
	letter-spacing: normal;
}

@mixin make-overflow-x() {
	display: block;
	overflow-x: scroll;
	scrollbar-width: thin;
	white-space: nowrap;
}
