@use '../custom' as *;

#contactUsSection {
	h1 {
		color: $secondary;
		font-size: 2rem;
		font-weight: 400;
		line-height: 40px;
	}

	h2 {
		color: $secondary;
		font-size: 20px;
		font-weight: 500;
		margin: 0 0 16px;
	}

	.helpListUL {
		width: 100%;
		padding: 0;
		margin: 0;
		li {
			display: block;
			list-style: none;
			margin-bottom: 10px;
			a {
				display: block;
				width: 100%;
				border: none;
				border-radius: 8px;
				padding: 8px 15px;
				white-space: pre-wrap;
				background-color: $secondary;
				text-align: left;
				color: #fff;

				@include media-breakpoint-down(sm) {
					padding: 8px 8px 8px 10px;
				}

				span {
					display: inline-block;
					width: 95%;
					text-transform: capitalize;

					@include media-breakpoint-down(sm) {
						font-size: 12px;
						width: 93%;
					}
				}
				svg {
					display: inline-block;
					font-weight: 800;
				}

				&:hover {
					background-color: #0069d9;
				}
			}
		}
	}
}

.contact-us__title {
	padding-bottom: 10px;
	border-bottom: 2px solid #3b3f47;
}

.contact-us__details {
	font-weight: 500;
	font-size: 13px;
	h5 {
		margin-bottom: 0;
		color: #3b3f47;
		font-weight: 500;
		font-size: 13px;
	}
}
