@use '../custom' as *;

#dashboard__container {
	background-color: #f6f6f6;

	.dashboard-beneficiaries__container {
		background-color: #fff;
		padding: 15px 10px 0;
		box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
			0 1px 5px 0 rgb(0 0 0 / 12%);
		border-radius: 10px;

		.dashboard-beneficiaries__header {
			color: $secondary;
			font-size: 1.4rem;
			font-weight: 700;
		}

		.dashboard-beneficiaries__mobile {
			font-size: 16px;
			color: #262626;
			margin: 5px 0 0;
			font-weight: 500;
			span {
				color: $secondary;
			}
		}

		.dashboard-beneficiaries__issue {
			font-size: 1rem;
			font-weight: 500;
			color: $secondary;
			border-color: $secondary;
			padding: 10px 20px;
		}

		.beneficiary__container {
			border: 1px solid #c7c7c2;
			margin: 0;
			margin-bottom: 0.7rem;
			margin-top: 2rem;
			min-height: 9.5rem;
			border-radius: 10px;

			.col-xs-12 {
				.cardBlocks {
					color: #666;
					font-size: 15px;

					.vaccination_status {
						padding: 5px 20px;
						margin-top: 0;
						border-radius: 50px;
						background-color: #41ad49;
						border: 1px solid #03af10;
						font-size: 14px;
						margin-right: -40px;
						color: #fff;
						cursor: auto;
						text-decoration: none;
						position: absolute;
						top: -26px;
					}

					.not-vaccinated {
						color: #000;
						background-color: #ff9840;
						border: 1px solid #ff6002;
					}

					.nameBox {
						display: flex;
						align-items: center;
						justify-content: space-between;
						.nameBox__content {
							display: flex;
							align-items: center;
							justify-content: space-between;
							span {
								color: $secondary;
								font-size: 22px;
								text-transform: capitalize;
								font-weight: 500;
							}

							p {
								color: #303030;
								border-left: 1px solid #303030;
								padding-left: 5px;
								margin-left: 5px;
								font-size: 12px;
								margin-top: 0;
								margin-bottom: 0;
								span {
									font-size: inherit;
									margin: 0;
									color: inherit;
								}
							}
						}
					}

					.labelcls {
						font-weight: 400;
						margin: 0 5px 0 0;
						display: inline-block;
					}

					.valuecls {
						font-weight: 500;
					}
				}
			}
		}

		.dose-data {
			border-top: 1px dashed #ccc;
			.dose-green {
				.dose1-label {
					color: #41ad49;
				}
				.appointment-details {
					padding-left: 56px;
					span {
						color: #41ad49;
						font-size: 13px;
						padding-top: 5px;
						font-weight: 400;
					}
				}
			}

			.dose-red {
				.dose1-label {
					color: #e20000;
				}
				.appointment-details {
					padding-left: 56px;
					span {
						color: #e20000;
						font-size: 13px;
						padding-top: 5px;
						font-weight: 400;
					}
				}
			}
		}

		.dose1-label {
			font-weight: 600;
			font-size: 14px;
			img {
				margin-right: 12px;
			}
			.vaccine-name {
				color: #333;
				font-size: 13px;
				border-left: 1px solid #707070;
				padding-left: 5px;
			}
		}

		.blue-box {
			background-color: #95e5d8;
			border-top: 1px solid #707070;
			padding: 20px 20px 10px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;

			.blue-box-content {
				h5 {
					font-size: 15px;
					font-weight: 700;
					display: flex;
					padding: 0 0 10px;
					color: #2e2e2e;
				}

				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					li {
						font-size: 14px;
						font-weight: 400;
						line-height: 20px;
						margin: 0 0 10px;
						color: #2e2e2e;

						ul {
							padding-left: 30px !important;
							li {
								list-style-type: lower-roman;
								line-height: 1 !important;
							}
						}
					}
				}
			}
		}
	}
}
