@use '../custom' as *;

.slick-slide {
	div {
		display: flex;
		align-items: center;
	}
}

.slide-item {
	// display: inline-block !important;
	width: fit-content !important;
	margin: 0 auto;
	p {
		padding: 10px 7px;
		background: rgb(0, 0, 0, 0.04);
		margin: 0;
		font-size: 1rem;
		font-weight: 600;
		font-family: 'Roboto', serif;

		@include media-breakpoint-up(xl) {
			padding: 10px 10px !important;
		}
	}
}

.date-list {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	padding: 15px;
	background: #f5f5f5;
	li {
		display: inline-block;
		list-style: none;
		border: 1px solid #979797;
		border-radius: 4px;
		font-size: 12px;
		background: #fff;
		margin-right: 10px;
		padding: 5px 20px;
		line-height: 1.3;
		margin-bottom: 5px;

		span {
			p {
				margin: 0;
				font-size: 14px;
				font-weight: 600;
				color: #333;
			}
		}
	}

	&::-webkit-scrollbar {
		height: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background: #888;
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
}

.date-active {
	background-color: #e1ffe1 !important;
	border: 1px solid #333 !important;
}

// .date-carousel{
//   padding: 80%;
// }
