@use '../_custom.scss' as *;

.noslot-wrap {
	h5 {
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		// line-height: 20px;
		margin-bottom: 0;
		padding: 0;
	}
	a {
		background-color: #ad0000;
		padding: 1px 5px;
		color: #fff;
		font-size: 12px;
		font-weight: 700;
	}
}

.slot-wrap {
	h5 {
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 0;
	}
}

.slots {
	flex: 1;
}

.slot-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
	padding-bottom: 5px;
	// flex: 1;
}

.age-limit {
	// padding: 5px 0;
	line-height: 20px;
	span {
		font-size: 11px;
	}
}

.dosetotal {
	display: flex;
	align-items: stretch;
	text-align: center;
	border: 1px solid #ccc;
	span {
		padding: 5px 7px;
		font-size: 12px;
		p {
			margin-bottom: 0;
		}
	}

	a {
		display: flex;
		font-size: 12px;
		font-weight: 700;
		background-color: #a9d18e;
		min-width: 35px;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #2e2e2e;
	}
}

.notAvailableLabel {
	background-color: #f3f3f3;
	color: #afafaf;
	border: 1px solid #afafaf;
	font-size: 12px;
	font-weight: 700;
	min-width: 35px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lessSlots {
	background-color: #ffbf00 !important;
}

.center-info-mobile {
	border: 1px solid #c7c2c2;
	border-radius: 10px;
	padding: 10px 5px;
	margin-bottom: 10px;
}

.centers-details__mobile {
	width: 60%;
	h5 {
		font-size: 12px;
		font-weight: 500;
		margin-bottom: 3px;
	}
	p {
		font-size: 12px;
		font-weight: 400;
	}
}

.vaccine-info {
	width: 40%;
	text-align: right;
	align-self: center;
	h5 {
		font-size: 12px;
		font-weight: 500;
		line-height: 1.2;
		text-transform: uppercase;
		color: #998fa2;
		margin: 0;
	}

	.tag-free {
		background-color: #048604;
		color: #fff;
	}

	.tag-paid {
		background-color: #2152b3;
		color: #fff;
	}

	.tag-free,
	.tag-paid {
		padding: 4px 8px;
		vertical-align: middle;
		border-radius: 5px;
		font-size: 11px;
		font-weight: 400;
		display: inline-block;
	}
}

.dose-details__mobile {
	padding: 10px 0 0;
	.filter-block {
		width: 33.33%;
		p {
			display: inline-block;
			border: 1px solid #007bff;
			color: #fff;
			padding: 3px 5px;
			border-radius: 5px;
			text-align: center;
			font-size: 13px;
			background-color: #007bff;
			margin: 0;
		}
	}

	.dose1-block,
	.dose2-block {
		width: 33.33%;
		.dose-title {
			font-size: 12px;
			margin-right: 5px;
			display: inline-block;
			color: #998fa2;
		}

		.lessSlots__mobile {
			font-size: 12px;
			color: #ffbf00;
			font-weight: 500;
		}
	}

	.dose1-block {
	}
}
