@use '../custom' as *;

#faqSection {
	.faq-container {
		border: 1px solid #999;
		border-radius: 10px;
	}

	h1 {
		color: $secondary;
		font-size: 2rem;
		font-weight: 400;
		line-height: 40px;
	}

	.card-title {
		background-color: #002060;
		color: #fff;
		padding: 10px 20px;
		font-weight: 600;
		border-radius: 10px 10px 0 0;
		margin-bottom: 0;
		h3 {
			font: 400 16px/28px Roboto, Helvetica Neue, sans-serif;
			letter-spacing: normal;
			margin: 0 0 0;
		}
	}

	.accordion-button {
		background-color: inherit;
		font-size: 15px;
		font-weight: 600;
		color: rgba(0, 0, 0, 0.87);
	}

	.accordion-item {
		padding: 3px 24px;
		&:hover {
			background-color: rgba(0, 0, 0, 0.04);
		}

		@include media-breakpoint-down(sm) {
			padding: 0px;
		}

		.accordion-body {
			font-size: 14px;
		}
	}
}
