@use '../custom' as *;
@use '../components/mixins' as *;

.navbar {
	@include media-breakpoint-down(md) {
		padding: 0;
	}
}

.secondaryHeader {
	.secondaryHeader-brand {
		@include media-breakpoint-down(md) {
			max-width: 50%;
		}
		.secondaryHeader-brand__img {
			width: 20px;
			height: auto;
			margin-right: 0.5rem;
			float: left;
		}

		.secondaryHeader-brand__title {
			width: 88%;
			display: block;
			@include general_typography(('Roboto', sheriff), 14px, 400, 20px);

			@include media-breakpoint-down(md) {
				font-size: 14px;
				line-height: 18px;
				font-weight: 400;
			}
		}
	}

	a {
		@include general_typography(('Roboto', sheriff), 14px, 400, 20px);

		@include media-breakpoint-down(md) {
			border-right: none !important;
		}

		@include media-breakpoint-down(md) {
			font-size: 12px;
			line-height: 22px;
			font-weight: 400;
		}
	}
}

header {
	box-shadow: 1px 2px 1px 0 #ccc;

	img {
		width: 12rem;
		height: auto;

		@include media-breakpoint-down(sm) {
			width: 5rem;
		}
	}
	a {
		@include general_typography(('Roboto', sheriff), 16px, 700, 20px);
		color: $primary !important;
		margin-right: 0.7rem;
		&::after {
			color: $primary !important;
			margin-left: 0.5rem !important;
		}
	}

	.dropdown-menu {
		padding: 0 0.1rem;
		a {
			display: block;
			width: 100%;
			@include general_typography(('Roboto', sheriff), 14px, 600, 20px);
			padding-top: 0.6rem;
			padding-bottom: 0.6rem;
		}
	}
}

#registrationNavLink {
	@include media-breakpoint-down(xl) {
		font-size: 14px;
	}
}
