@use '../custom' as *;
@use '../components/mixins' as *;

#helpline {
	h5 {
		@include media-breakpoint-down(lg) {
			border-right: 0 !important;
		}
	}

	.container {
		h6,
		a {
			font-size: 12px;

			@include media-breakpoint-up(lg) {
				font-size: 13px;
			}
		}

		a {
			text-decoration: none;
		}
	}

	.helpline__desc > .row {
		@include make-overflow-x();
	}

	.helpline__desc > .row > .col-md-2 {
		display: inline-block;
	}
}

#helplineHeader {
	display: block;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	max-width: 10px !important;
	height: 1px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
